* {
    margin: 0;
    padding: 0;

    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Tahoma, sans-serif;

    background-color: #17000a;
}

header {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

.faixa.black {
    height: 70px;

    background-color: #17000a;
}

h1 span {
    padding: 5px;
    border-radius: 4px;
    background-color: yellow;

    line-height: 55px;
    color: #17000a;
}

.faixa.purple {
    height: 170px;

    background-color: #ad006b;
}

.banner {
    width: 100%;
    height: 377px;

    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.video {
    display: block;
    position: relative;

    width: calc(100vw - 270px);

    overflow: hidden;
}

.video::before {
    display: block;
    content: "";

    padding-top: calc(56.6% + 90px);
}

.video iframe {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    bottom: 0;

    border: 0;
}

.logo {
    width: 280px;
    height: 120px;

    background-image: url("logotipo.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.comentarios {
    width: 100%;
    height: 940px;
    margin-bottom: 20px;

    background-image: url("comentarios.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    height: 80px;
    padding: 0 20px;

    text-align: center;
    color: #ffd5e6;
}

@media only screen and (max-width: 699px) {
    .faixa.purple {
        height: 110px;
    }

    h1 {
        font-size: 18px;
    }

    h1 span {
        line-height: 35px;
    }

    .banner {
        height: 102px;

        background-image: url("banner-mobile.jpg");
        background-position: center;
    }

    .video {
        width: calc(100vw - 15px);
    }

    .comentarios {
        height: 100vh;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 980px) {
    .video {
        width: 800px;
    }
}
